
.container{
    display: inline;
    background-color: #5FCF80;
}

/*#divContainer{
    display: inline;
    padding: 10px;
    border: solid 2px #444;
    background-color: #FFFFFF;
    border-radius: 5px;    
}*/


html{
/*    font-family: Segoe UI;*/
    font-family: verdana;   
}

#headerDiv{
    display: inline-block;
    width: 30%;
    text-align: center;
    color: white;  
    font-weight: bold;
}

#formDiv{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    background-color: #F4F7F8;
    border-radius: 4px;
}

.regular{
    background-color: #637A91;
    margin-top: 0px;
    padding: 1px; 
    border-radius: 4px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

/*
h3{
    text-align: center;
    color: white;
    
    margin-top: 0px;
    padding: 15px; 
    border-radius: 4px;
}
*/

#divContainer{
    margin: 30px;
}

input[type = text],textarea,select,input[type=email]{
    border-radius: 4px;
    padding: 7px;
    margin: 10px 0;
    border: 1px solid #C2C2C2;
    width: 30%;   
}


input[type=email]{
    width: 50%;
    padding: 8px;
/*    height: 80px;*/
}


select{    
    width: 32%;
}


#innerFormDiv{
    margin: 0 0 0 5%;
}

textarea{
    height: 100px;
    width: 50%;

}

#submitButton{
    width: 30%;
    padding: 10px;
    margin: 10px;    
    margin-left: 30%;
/*    background-color: #42B4D6;*/
    background-color: #E66D55;
    border-radius: 8px;
    font-size: 120%;
    font-weight: bold;
    color: white;
}

.required{
    color: red;
}

.success{ 
    content: "Success";            
    text-align: center;
    color: white;
    background-color: green;
    margin-top: 0px;
    padding: 1px; 
    border-radius: 4px;
}

.fail{
    content: "Error";
    text-align: center;
    color: white;
    background-color: darkred;
    margin-top: 0px;
    padding: 1px; 
    border-radius: 4px;
}

#serverNameReference{
    font-size: 12px;    
}

